@import url("../../components/PokerPractice/card/card.css");
@import url("../../components/PokerPractice/player/player.css");

@import url("../../components/PokerPractice/showdown/showdown.css");
@import url("../../components/PokerPractice/actionmenu/actionmenu.css");
@import url("../../components/PokerPractice/menu/menu.css");


/* General */
html,
body, 
#root,
.PokerPractice {
	width: 100%;
	height: 100%;
	user-select: none;
	text-align: center;
}

img {
	width: 100%;
	height: 100%;
}

/* Loading screen */
.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.spinner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
	width: 200px;
	animation: loading-spin infinite 3s linear;
}

@keyframes loading-spin {
	from { transform: rotate(0deg);}
	to { transform: rotate(360deg);
	}
}

/* Board positioning and styling */
.poker-table--wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #d1d5db;
	/*background-image: radial-gradient(#eff8e2 60%, #d8e4c7 82%); */
}

.poker-app--background {
	position: relative;
	overflow: auto;
	width: 100%;
	height: 100%;
}

.poker-table--container {
	position: absolute;
}

.community-card-container { /* Place where cards will be dealt on the board */
	position: absolute;
 	display: flex;
 	justify-content: center;
 	top: calc(20% - 60px);
 	left: calc(50% - 225px);
 	width: auto;
 	height: auto;
}

 .pot-container {
	display: flex;
	justify-content: center;
	align-content: center;
	top: 45%;
	left: calc(50% - 12px);
	color: #1f2937;
	font-size: 1.4em;
}

.winner-div,
.loser-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 1.2em;
	top: 50%;
}

/* TODO: COMPLETE MOBILE VIEW */

@media (min-width: 1086px) {
	.poker-table--container {
		left: 50%;
		top: 40%;
		transform: translate(-50%, -50%);
		width: 1080px;
		height: 590px;
	}
	
	.pot-container {
		margin-top: 3em;
	}

	.community-card-container{
		margin-top: 8em;
	}
}

@media (max-width: 1085px) {
	.poker-table--container {
		position: absolute;
		left: 43.5%;
		top: 70%;
	}
	.pot-container {
		margin-top: -25em;
	}

	.community-card-container {
		margin-top: -25em;
		height: 110px;
	}

	.p0 {
		bottom: -3em;
	}
	
	.p1 {
		bottom: 0;
		left: -13em;
	}
	
	.p2 {
	   bottom: 1em;
	   left: -28em;
	}
	
	.p4 {
	   bottom: 0;
	   right: -13em;
	}
	
	.p3 {
		bottom: 1em;
		right: -28em;
	}

	.dealer-chip-icon-container {
		margin-top: 1em;
		width: 50%;
		margin-left: .7em;
	}

	.playing-card{
		height: 110px;
		width: 80px;
	}
}

@media (max-width: 885) {
	.player-info--name {
		width: 100px;
	}
}

@media (max-width: 552px) {
	.poker-table--container {
		transform: rotate(90deg);
	

	}

	.game-action-bar {	/* Bottom bar with controls - container */
		transform: rotate(90deg);
		margin-bottom: 28em;
		margin-left: -24em;
		height: auto;
		width: 180%;
		padding-left: 1em;
		padding-right: 1em;
	}

}