
  
  .Chat {
    text-align: center;
    margin: 0;
    background-color: #282c34;
  }

  
  /* .Chat .chatHeader {
    background-color: #181717;
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    max-width: 728px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
  } */

  .loadingScreen{
    height: 100vh; /* Magic here */   
    display: flex;   
    justify-content: center;   
    align-items: center;
  }

  /* .enterChatRoom{
    color: #282c34;
    background: yellowgreen;
    max-width: 400px;
    margin: 0 auto;
  } */

  .Chat h1{
    color: aliceblue;
  }
  
  /* .Chat section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    margin: 0;
    background-color: rgb(40, 37, 53);
   
  } */
  
  /* .Chat main {
    padding: 0px;
    height: 80vh;
    margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  } */
  
  /* main::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  main::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  main::-webkit-scrollbar-thumb {
    background: #6649b8;
  } */

  .chatWindow {
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 37, 53);
  }

  .scrolldiv {
    float: left;
    overflow-y: auto;
    height: 85vh;
  }

  .sendMessage{
    /* position: absolute;
    bottom: 0px; */
    background-color: rgb(24, 23, 23);
    display: flex;
    font-size: 1rem;
  }
  
  .Chat input {
    line-height: 1.5;
    width: 80%;
    font-size: 1rem;
    background: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    padding: 10px 10px;
  }

  .Chat form button {
    width: 20%;
    background-color: rgb(51, 156, 60);
    font-size: medium;
  }

  /* .Chat form button img {
    width: 20px;
    height: 20px;
  } */

  .Chat button {
    background-color: #1e831e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  .Chat p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .message {
    display: flex;
    align-items: center;
  }
  
  
  .sent {
    flex-direction: column;
    padding-right: 16px;
  }

  .received {
    flex-direction: column;
    padding-left: 16px;
  }

  .sent a {
    color: white;
    align-self: flex-end;
    padding-right: 15px;
  }

  .received a {
    color: white;
    align-self: flex-start;
    padding-left: 15px;
  }

  .sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
  }
  .received p {
    background: #e5e5ea;
    align-self: flex-start;
    color: black;
  }
  
  /* .Chat img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  } */
  
  